data/*
!data/*/

data/Stock_data/debug/

data/Stock_data/yahoo_daily/

data/Stock_data/Graphs/html_plots
data/Stock_data/Graphs/json_plots
data/Stock_data/Graphs

!folder_to_ignore/AAPL.pkl
!folder_to_ignore/MSFT.pkl
!folder_to_ignore/GOOG.pkl

SecuritiesCorrelations.iml
Procfile
correlation_calculator.log*
firebase-debug.log

__pycache__/
scripts/__pycache__/
*.pyc

.idea/
