# Ignore config.py
config.py

# Ignore debug folder within Stock_data
data/Stock_data/debug/

# Ignore yahoo_daily folder within Stock_data
data/Stock_data/yahoo_daily/

# Ignore yahoo_daily folder within Stock_data
data/Stock_data/Graphs/

SecuritiesCorrelations.iml
