data/*
!data/*/

data/Stock_data/debug/
data/Stock_data/yahoo_daily/

data/Graphs/html_plots
data/Graphs/json_plots

data/Graphs/pickled_securities_objects

!data/Graphs/pickled_securities_objects/AAPL.pkl
!data/Graphs/pickled_securities_objects/MSFT.pkl
!data/Graphs/pickled_securities_objects/GOOG.pkl

SecuritiesCorrelations.iml
Procfile
correlation_calculator.log*
firebase-debug.log

__pycache__/
scripts/__pycache__/
ui/__pycache__/
ui/__pycache__/security_correlations_ui.cpython-310.pyc

*.pyc

.idea/

data/Stock_data/combined_data.parquet
tests/cache_info.log
cache_info.log

